<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mini-theme - templates/feeds.html</title>
    <link rel="stylesheet" type="text/css" href="https://mcol.xyz/code/style.css"/>
    <link rel="icon" type="image/png" href="https://mcol.xyz/favicon.png"/>
  </head>
  <body>

  <table id="head">
  <tr>
    <td width="32px" rowspan="2"><a href="https://mcol.xyz"><img src="https://mcol.xyz/avatar.png" id="avatar"/></a></td>
    <td rowspan="2"><a href="https://mcol.xyz">https://mcol.xyz</a> / <a href="https://mcol.xyz/code/">code</a> / <a href="https://mcol.xyz/code/mini-theme">mini-theme</a></td>
    <td class="link"><a href="https://mcol.xyz/posts.html">posts</a></td>
  </tr>
  <tr>
    <td class="link"><a href="https://mcol.xyz/about.html">about</a></td>
  </tr>
</table>
<hr>

<table>
  <tr><td><span class="desc">A mini theme for the pelican static site generator</span></td></tr>
  <tr class="url"><td>git clone <a href="https://github.com/m-col/mini-theme">https://github.com/m-col/mini-theme</a></td></tr>
  <tr><td>
    <a href="https://mcol.xyz/code/mini-theme/tree.html">Files</a> | <a href="https://mcol.xyz/code/mini-theme/refs.html">Refs</a>
     | <a href="https://mcol.xyz/code/mini-theme/file/readme.rst.html">Readme</a>      </td></tr>
</table>
<hr>

<div id="content">
  <p>-rw-r--r-- templates/feeds.html</p><hr>

  <pre id="blob"><a href="#l1" class="line" id="l1">      1</a> {% if FEED_ATOM %}
<a href="#l2" class="line" id="l2">      2</a> &lt;link href=&quot;{% if FEED_DOMAIN %}{{ FEED_DOMAIN }}{% endif %}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}&quot;
<a href="#l3" class="line" id="l3">      3</a> 	type=&quot;application/atom+xml&quot; rel=&quot;alternate&quot; title=&quot;{{ SITENAME }}&quot;
<a href="#l4" class="line" id="l4">      4</a> /&gt;
<a href="#l5" class="line" id="l5">      5</a> {% endif %}
<a href="#l6" class="line" id="l6">      6</a> {% if FEED_RSS %}
<a href="#l7" class="line" id="l7">      7</a> &lt;link href=&quot;{% if FEED_DOMAIN %}{{ FEED_DOMAIN }}{% endif %}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}&quot;
<a href="#l8" class="line" id="l8">      8</a> 	type=&quot;application/rss+xml&quot; rel=&quot;alternate&quot; title=&quot;{{ SITENAME }}&quot;
<a href="#l9" class="line" id="l9">      9</a> /&gt;
<a href="#l10" class="line" id="l10">     10</a> {% endif %}
<a href="#l11" class="line" id="l11">     11</a> {% if CATEGORY_FEED_ATOM and category %}
<a href="#l12" class="line" id="l12">     12</a> &lt;link href=&quot;{% if FEED_DOMAIN %}{{ FEED_DOMAIN }}{% endif %}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}&quot;
<a href="#l13" class="line" id="l13">     13</a> 	type=&quot;application/atom+xml&quot; rel=&quot;alternate&quot; title=&quot;{{ SITENAME }} / {{ category }}&quot;
<a href="#l14" class="line" id="l14">     14</a> /&gt;
<a href="#l15" class="line" id="l15">     15</a> {% endif %}
<a href="#l16" class="line" id="l16">     16</a> {% if CATEGORY_FEED_RSS and category %}
<a href="#l17" class="line" id="l17">     17</a> &lt;link href=&quot;{% if FEED_DOMAIN %}{{ FEED_DOMAIN }}{% endif %}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}&quot;
<a href="#l18" class="line" id="l18">     18</a> 	type=&quot;application/rss+xml&quot; rel=&quot;alternate&quot; title=&quot;{{ SITENAME }} / {{ category }}&quot;
<a href="#l19" class="line" id="l19">     19</a> /&gt;
<a href="#l20" class="line" id="l20">     20</a> {% endif %}
<a href="#l21" class="line" id="l21">     21</a> 
</pre>
  </div>
  </body>
</html>
